In [368]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [369]:
df=pd.read_csv("car_price_prediction.csv")
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [370]:
df.shape

(19237, 18)

In [371]:
df.columns

Index(['ID', 'Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year',
       'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [372]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [373]:
df.drop(columns=['ID'],axis=1,inplace=True)

In [374]:
df['Levy']=pd.to_numeric(df["Levy"],errors="coerce")

In [375]:
print(df['Levy'].values)

[1399. 1018.   nan ...  836. 1288.  753.]

In [376]:
df['Levy'].dtype

dtype('float64')

In [377]:
#that km replace empty string given,now it easly change to float
df['Mileage'] = df['Mileage'].str.replace(' km', '').astype(float)

In [378]:
dfobj=[]
dfin=[]
for nu in df.columns:
    if df[nu].dtype==object:
        dfobj.append(nu)
    else:
        dfin.append(nu)

In [379]:
print(dfobj)
print(dfin)

['Manufacturer', 'Model', 'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color']
['Price', 'Levy', 'Prod. year', 'Mileage', 'Cylinders', 'Airbags']

In [380]:
for nk in dfobj:
   d= df[nk].unique()
   print(nk+ ":")
   print(d)
   print()

Manufacturer:
['LEXUS' 'CHEVROLET' 'HONDA' 'FORD' 'HYUNDAI' 'TOYOTA' 'MERCEDES-BENZ'
 'OPEL' 'PORSCHE' 'BMW' 'JEEP' 'VOLKSWAGEN' 'AUDI' 'RENAULT' 'NISSAN'
 'SUBARU' 'DAEWOO' 'KIA' 'MITSUBISHI' 'SSANGYONG' 'MAZDA' 'GMC' 'FIAT'
 'INFINITI' 'ALFA ROMEO' 'SUZUKI' 'ACURA' 'LINCOLN' 'VAZ' 'GAZ' 'CITROEN'
 'LAND ROVER' 'MINI' 'DODGE' 'CHRYSLER' 'JAGUAR' 'ISUZU' 'SKODA'
 'DAIHATSU' 'BUICK' 'TESLA' 'CADILLAC' 'PEUGEOT' 'BENTLEY' 'VOLVO' 'სხვა'
 'HAVAL' 'HUMMER' 'SCION' 'UAZ' 'MERCURY' 'ZAZ' 'ROVER' 'SEAT' 'LANCIA'
 'MOSKVICH' 'MASERATI' 'FERRARI' 'SAAB' 'LAMBORGHINI' 'ROLLS-ROYCE'
 'PONTIAC' 'SATURN' 'ASTON MARTIN' 'GREATWALL']

Model:
['RX 450' 'Equinox' 'FIT' ... 'E 230 124' 'RX 450 F SPORT' 'Prius C aqua']

Category:
['Jeep' 'Hatchback' 'Sedan' 'Microbus' 'Goods wagon' 'Universal' 'Coupe'
 'Minivan' 'Cabriolet' 'Limousine' 'Pickup']

Leather interior:
['Yes' 'No']

Fuel type:
['Hybrid' 'Petrol' 'Diesel' 'CNG' 'Plug-in Hybrid' 'LPG' 'Hydrogen']

Engine volume:
['3.5' '3' '1.3' '2.5' '2' '1.8' '2.4' '4' '1.6' '3.3' '2.0 Turbo'
 '2.2 Turbo' '4.7' '1.5' '4.4' '3.0 Turbo' '1.4 Turbo' '3.6' '2.3'
 '1.5 Turbo' '1.6 Turbo' '2.2' '2.3 Turbo' '1.4' '5.5' '2.8 Turbo' '3.2'
 '3.8' '4.6' '1.2' '5' '1.7' '2.9' '0.5' '1.8 Turbo' '2.4 Turbo'
 '3.5 Turbo' '1.9' '2.7' '4.8' '5.3' '0.4' '2.8' '3.2 Turbo' '1.1' '2.1'
 '0.7' '5.4' '1.3 Turbo' '3.7' '1' '2.5 Turbo' '2.6' '1.9 Turbo'
 '4.4 Turbo' '4.7 Turbo' '0.8' '0.2 Turbo' '5.7' '4.8 Turbo' '4.6 Turbo'
 '6.7' '6.2' '1.2 Turbo' '3.4' '1.7 Turbo' '6.3 Turbo' '2.7 Turbo' '4.3'
 '4.2' '2.9 Turbo' '0' '4.0 Turbo' '20' '3.6 Turbo' '0.3' '3.7 Turbo'
 '5.9' '5.5 Turbo' '0.2' '2.1 Turbo' '5.6' '6' '0.7 Turbo' '0.6 Turbo'
 '6.8' '4.5' '0.6' '7.3' '0.1' '1.0 Turbo' '6.3' '4.5 Turbo' '0.8 Turbo'
 '4.2 Turbo' '3.1' '5.0 Turbo' '6.4' '3.9' '5.7 Turbo' '0.9' '0.4 Turbo'
 '5.4 Turbo' '0.3 Turbo' '5.2' '5.8' '1.1 Turbo']

Gear box type:
['Automatic' 'Tiptronic' 'Variator' 'Manual']

Drive wheels:
['4x4' 'Front' 'Rear']

Doors:
['04-May' '02-Mar' '>5']

Wheel:
['Left wheel' 'Right-hand drive']

Color:
['Silver' 'Black' 'White' 'Grey' 'Blue' 'Green' 'Red' 'Sky blue' 'Orange'
 'Yellow' 'Brown' 'Golden' 'Beige' 'Carnelian red' 'Purple' 'Pink']

In [381]:
df[dfobj].nunique()

Manufacturer          65
Model               1590
Category              11
Leather interior       2
Fuel type              7
Engine volume        107
Gear box type          4
Drive wheels           3
Doors                  3
Wheel                  2
Color                 16
dtype: int64

In [382]:
import category_encoders as ce
for hu in dfobj:
   g=ce.TargetEncoder(cols=hu)
   df[hu]=g.fit_transform(df[hu],df['Price'])

In [383]:
df.isnull().sum()

Price                  0
Levy                5819
Manufacturer           0
Model                  0
Prod. year             0
Category               0
Leather interior       0
Fuel type              0
Engine volume          0
Mileage                0
Cylinders              0
Gear box type          0
Drive wheels           0
Doors                  0
Wheel                  0
Color                  0
Airbags                0
dtype: int64

In [384]:
df['Levy'].fillna(df['Levy'].mean(),inplace=True)
df['Levy'].isnull().sum()

0

In [385]:
relation=abs(df.corr()['Price'])
relation

Price               1.000000
Levy                0.005373
Manufacturer        0.052596
Model               0.172952
Prod. year          0.012982
Category            0.065758
Leather interior    0.000754
Fuel type           0.035727
Engine volume       0.090826
Mileage             0.001758
Cylinders           0.007518
Gear box type       0.023549
Drive wheels        0.003433
Doors               0.034329
Wheel               0.014649
Color               0.024874
Airbags             0.012824
Name: Price, dtype: float64

In [386]:
bad_cor=relation[relation<=0.01]

In [387]:
bad_cor

Levy                0.005373
Leather interior    0.000754
Mileage             0.001758
Cylinders           0.007518
Drive wheels        0.003433
Name: Price, dtype: float64

In [388]:
df.drop(bad_cor.index,axis=1,inplace=True)

In [389]:
df.shape

(19237, 12)

In [390]:
from sklearn.preprocessing import MinMaxScaler
minm=MinMaxScaler()
minm.fit(df)
df_scaler=pd.DataFrame(minm.transform(df),columns=df.columns)

In [391]:
df_scaler

,Price,Manufacturer,Model,Prod. year,Category,Fuel type,Engine volume,Gear box type,Doors,Wheel,Color,Airbags
0,0.000507,0.110843,0.009302,0.876543,0.110307,0.105767,0.039260,0.103708,0.0,1.0,0.232405,0.7500
1,0.000632,0.076533,0.012965,0.888889,0.110307,0.400867,0.029993,1.000000,0.0,1.0,0.388729,0.5000
2,0.000322,0.071424,0.009979,0.827160,0.000000,0.400867,0.000000,0.000000,0.0,0.0,0.388729,0.1250
3,0.000137,0.081743,0.005212,0.888889,0.110307,0.105767,0.049774,0.103708,0.0,1.0,0.360611,0.0000
4,0.000446,0.071424,0.009979,0.925926,0.000000,0.400867,0.000000,0.103708,0.0,1.0,0.232405,0.2500
...,...,...,...,...,...,...,...,...,...,...,...,...
19232,0.000322,0.106162,0.017989,0.740741,0.088485,0.000000,0.109392,0.928682,1.0,1.0,0.232405,0.3125
19233,0.000596,0.136160,0.015430,0.888889,0.025555,0.400867,0.027233,1.000000,0.0,1.0,0.169031,0.5000
19234,0.000992,0.136160,0.040875,0.876543,0.110307,1.000000,0.058590,0.103708,0.0,1.0,0.401767,0.2500
19235,0.000203,0.076533,0.020822,0.839506,0.110307,1.000000,0.058590,0.103708,0.0,1.0,0.388729,0.2500
19236,0.000018,0.136160,0.015430,0.901235,0.025555,0.105767,0.027233,0.103708,0.0,1.0,0.360611,0.7500

In [392]:
X=df.drop("Price",axis=1)
y=df["Price"]

In [393]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.25,random_state=42)

In [394]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [395]:
models=[ DecisionTreeRegressor(),SVR(),LinearRegression(),Ridge(),Lasso(),RandomForestRegressor() ]

In [396]:
for k in models:
    call=k
    call.fit(X_train,y_train)
    pred=call.predict(X_train)
    mse=mean_squared_error(pred,y_train)
    mae=mean_absolute_error(pred,y_train)
    r2score=r2_score(pred,y_train)
    print(k,":")
    print("MSE:",mse)
    print()
    print("MAE:",mae)
    print()
    print("r2_score:",r2score)
    print()
    print()

DecisionTreeRegressor() :
MSE: 14731050.451245742

MAE: 1364.467301499586

r2_score: 0.9996950681489062


SVR() :
MSE: 48353077822.997955

MAE: 13506.926703623994

r2_score: -462614.9000546629


LinearRegression() :
MSE: 46328578565.12512

MAE: 15801.49625438594

r2_score: -22.21684359171518


Ridge() :
MSE: 46328578565.12519

MAE: 15801.496478412206

r2_score: -22.216844067452406


Lasso() :
MSE: 46328578565.25191

MAE: 15801.511894248

r2_score: -22.2168577665638


RandomForestRegressor() :
MSE: 9376294214.750242

MAE: 4232.871307259596

r2_score: 0.6633464471533485

In [397]:
##Linear regeression ,Ridge,Lasso is good model

In [398]:
#cross validation