In [2]:
#import nessary models

import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [3]:
#read csv file
df=pd.read_csv("car_price_prediction.csv")
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [4]:
df.shape

(19237, 18)

In [5]:
df.columns

Index(['ID', 'Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year',
       'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [7]:
df.drop(columns=['ID'],axis=1,inplace=True)

In [8]:
#that "Levy" feature contain numeric values but this datatype "object"
#so i changed the numeric datatype

df['Levy']=pd.to_numeric(df["Levy"],errors="coerce")

In [9]:
print(df['Levy'].values)

[1399. 1018.   nan ...  836. 1288.  753.]

In [10]:
# cheke the dtype

df['Levy'].dtype

dtype('float64')

In [11]:
#that km replace empty string given,now it easly change to float

df['Mileage'] = df['Mileage'].str.replace(' km', '').astype(float)

In [12]:
#i spliting the object and numeric feature

dfobj=[]
dfin=[]
for nu in df.columns:
    if df[nu].dtype==object:
        dfobj.append(nu)
    else:
        dfin.append(nu)

In [13]:
print(dfobj)
print(dfin)

['Manufacturer', 'Model', 'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color']
['Price', 'Levy', 'Prod. year', 'Mileage', 'Cylinders', 'Airbags']

In [14]:
#find the unique values of each feature

for nk in dfobj:
   d= df[nk].unique()
   print(nk+ ":")
   print(d)
   print()

Manufacturer:
['LEXUS' 'CHEVROLET' 'HONDA' 'FORD' 'HYUNDAI' 'TOYOTA' 'MERCEDES-BENZ'
 'OPEL' 'PORSCHE' 'BMW' 'JEEP' 'VOLKSWAGEN' 'AUDI' 'RENAULT' 'NISSAN'
 'SUBARU' 'DAEWOO' 'KIA' 'MITSUBISHI' 'SSANGYONG' 'MAZDA' 'GMC' 'FIAT'
 'INFINITI' 'ALFA ROMEO' 'SUZUKI' 'ACURA' 'LINCOLN' 'VAZ' 'GAZ' 'CITROEN'
 'LAND ROVER' 'MINI' 'DODGE' 'CHRYSLER' 'JAGUAR' 'ISUZU' 'SKODA'
 'DAIHATSU' 'BUICK' 'TESLA' 'CADILLAC' 'PEUGEOT' 'BENTLEY' 'VOLVO' 'სხვა'
 'HAVAL' 'HUMMER' 'SCION' 'UAZ' 'MERCURY' 'ZAZ' 'ROVER' 'SEAT' 'LANCIA'
 'MOSKVICH' 'MASERATI' 'FERRARI' 'SAAB' 'LAMBORGHINI' 'ROLLS-ROYCE'
 'PONTIAC' 'SATURN' 'ASTON MARTIN' 'GREATWALL']

Model:
['RX 450' 'Equinox' 'FIT' ... 'E 230 124' 'RX 450 F SPORT' 'Prius C aqua']

Category:
['Jeep' 'Hatchback' 'Sedan' 'Microbus' 'Goods wagon' 'Universal' 'Coupe'
 'Minivan' 'Cabriolet' 'Limousine' 'Pickup']

Leather interior:
['Yes' 'No']

Fuel type:
['Hybrid' 'Petrol' 'Diesel' 'CNG' 'Plug-in Hybrid' 'LPG' 'Hydrogen']

Engine volume:
['3.5' '3' '1.3' '2.5' '2' '1.8' '2.4' '4' '1.6' '3.3' '2.0 Turbo'
 '2.2 Turbo' '4.7' '1.5' '4.4' '3.0 Turbo' '1.4 Turbo' '3.6' '2.3'
 '1.5 Turbo' '1.6 Turbo' '2.2' '2.3 Turbo' '1.4' '5.5' '2.8 Turbo' '3.2'
 '3.8' '4.6' '1.2' '5' '1.7' '2.9' '0.5' '1.8 Turbo' '2.4 Turbo'
 '3.5 Turbo' '1.9' '2.7' '4.8' '5.3' '0.4' '2.8' '3.2 Turbo' '1.1' '2.1'
 '0.7' '5.4' '1.3 Turbo' '3.7' '1' '2.5 Turbo' '2.6' '1.9 Turbo'
 '4.4 Turbo' '4.7 Turbo' '0.8' '0.2 Turbo' '5.7' '4.8 Turbo' '4.6 Turbo'
 '6.7' '6.2' '1.2 Turbo' '3.4' '1.7 Turbo' '6.3 Turbo' '2.7 Turbo' '4.3'
 '4.2' '2.9 Turbo' '0' '4.0 Turbo' '20' '3.6 Turbo' '0.3' '3.7 Turbo'
 '5.9' '5.5 Turbo' '0.2' '2.1 Turbo' '5.6' '6' '0.7 Turbo' '0.6 Turbo'
 '6.8' '4.5' '0.6' '7.3' '0.1' '1.0 Turbo' '6.3' '4.5 Turbo' '0.8 Turbo'
 '4.2 Turbo' '3.1' '5.0 Turbo' '6.4' '3.9' '5.7 Turbo' '0.9' '0.4 Turbo'
 '5.4 Turbo' '0.3 Turbo' '5.2' '5.8' '1.1 Turbo']

Gear box type:
['Automatic' 'Tiptronic' 'Variator' 'Manual']

Drive wheels:
['4x4' 'Front' 'Rear']

Doors:
['04-May' '02-Mar' '>5']

Wheel:
['Left wheel' 'Right-hand drive']

Color:
['Silver' 'Black' 'White' 'Grey' 'Blue' 'Green' 'Red' 'Sky blue' 'Orange'
 'Yellow' 'Brown' 'Golden' 'Beige' 'Carnelian red' 'Purple' 'Pink']

In [15]:
#find the total number unique values in each object feature 
df[dfobj].nunique()

Manufacturer          65
Model               1590
Category              11
Leather interior       2
Fuel type              7
Engine volume        107
Gear box type          4
Drive wheels           3
Doors                  3
Wheel                  2
Color                 16
dtype: int64

In [16]:
#this first time large number char value change to numeric using "target encoder"

import category_encoders as ce
for hu in dfobj:
   g=ce.TargetEncoder(cols=hu)
   df[hu]=g.fit_transform(df[hu],df['Price'])

In [17]:
#find null values in dataframe

df.isnull().sum()

Price                  0
Levy                5819
Manufacturer           0
Model                  0
Prod. year             0
Category               0
Leather interior       0
Fuel type              0
Engine volume          0
Mileage                0
Cylinders              0
Gear box type          0
Drive wheels           0
Doors                  0
Wheel                  0
Color                  0
Airbags                0
dtype: int64

In [18]:
#find mean value and fill null value places

df['Levy'].fillna(df['Levy'].mean(),inplace=True)
df['Levy'].isnull().sum()

0

In [19]:
#find the correlation of independent and dependent feature
relation=abs(df.corr()['Price'])
relation

Price               1.000000
Levy                0.005373
Manufacturer        0.052596
Model               0.172952
Prod. year          0.012982
Category            0.065758
Leather interior    0.000754
Fuel type           0.035727
Engine volume       0.090826
Mileage             0.001758
Cylinders           0.007518
Gear box type       0.023549
Drive wheels        0.003433
Doors               0.034329
Wheel               0.014649
Color               0.024874
Airbags             0.012824
Name: Price, dtype: float64

In [20]:
# fillter the bad corelation feature

bad_cor=relation[relation<=0.01]

In [21]:
bad_cor

Levy                0.005373
Leather interior    0.000754
Mileage             0.001758
Cylinders           0.007518
Drive wheels        0.003433
Name: Price, dtype: float64

In [22]:
#and drop that bad corelation
df.drop(bad_cor.index,axis=1,inplace=True)

In [23]:
df.shape

(19237, 12)

In [24]:
#i want dataframe all values equal range so, i using min max scaling its changed all data values
#change equal range

from sklearn.preprocessing import MinMaxScaler
minm=MinMaxScaler()
minm.fit(df)
df_scaler=pd.DataFrame(minm.transform(df),columns=df.columns)

In [25]:
df_scaler

,Price,Manufacturer,Model,Prod. year,Category,Fuel type,Engine volume,Gear box type,Doors,Wheel,Color,Airbags
0,0.000507,0.110843,0.009302,0.876543,0.110307,0.105767,0.039260,0.103708,0.0,1.0,0.232405,0.7500
1,0.000632,0.076533,0.012965,0.888889,0.110307,0.400867,0.029993,1.000000,0.0,1.0,0.388729,0.5000
2,0.000322,0.071424,0.009979,0.827160,0.000000,0.400867,0.000000,0.000000,0.0,0.0,0.388729,0.1250
3,0.000137,0.081743,0.005212,0.888889,0.110307,0.105767,0.049774,0.103708,0.0,1.0,0.360611,0.0000
4,0.000446,0.071424,0.009979,0.925926,0.000000,0.400867,0.000000,0.103708,0.0,1.0,0.232405,0.2500
...,...,...,...,...,...,...,...,...,...,...,...,...
19232,0.000322,0.106162,0.017989,0.740741,0.088485,0.000000,0.109392,0.928682,1.0,1.0,0.232405,0.3125
19233,0.000596,0.136160,0.015430,0.888889,0.025555,0.400867,0.027233,1.000000,0.0,1.0,0.169031,0.5000
19234,0.000992,0.136160,0.040875,0.876543,0.110307,1.000000,0.058590,0.103708,0.0,1.0,0.401767,0.2500
19235,0.000203,0.076533,0.020822,0.839506,0.110307,1.000000,0.058590,0.103708,0.0,1.0,0.388729,0.2500
19236,0.000018,0.136160,0.015430,0.901235,0.025555,0.105767,0.027233,0.103708,0.0,1.0,0.360611,0.7500

In [26]:
#spliting dependent and independent feature

X=df.drop("Price",axis=1)
y=df["Price"]

In [27]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.25,random_state=42)

In [28]:
#import regression algorithum
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [29]:
models=[ DecisionTreeRegressor(),SVR(),LinearRegression(),Ridge(),Lasso(),RandomForestRegressor() ]

In [30]:
#first i check train data give to predict and evalvating

for k in models:
    call=k
    call.fit(X_train,y_train)
    pred=call.predict(X_train)
    mse=mean_squared_error(pred,y_train)
    mae=mean_absolute_error(pred,y_train)
    r2score=r2_score(pred,y_train)
    print(k,":")
    print("MSE:",mse)
    print()
    print("MAE:",mae)
    print()
    print("r2_score:",r2score)
    print()
    print()

DecisionTreeRegressor() :
MSE: 14731050.451245742

MAE: 1364.467301499586

r2_score: 0.9996950681489062


SVR() :
MSE: 48353077822.997955

MAE: 13506.926703623994

r2_score: -462614.9000546629


LinearRegression() :
MSE: 46328578565.12512

MAE: 15801.49625438594

r2_score: -22.21684359171518


Ridge() :
MSE: 46328578565.12519

MAE: 15801.496478412206

r2_score: -22.216844067452406


Lasso() :
MSE: 46328578565.25191

MAE: 15801.511894248

r2_score: -22.2168577665638


RandomForestRegressor() :
MSE: 10224737946.685566

MAE: 4252.825262565114

r2_score: 0.6040994198097457

In [ ]:
# DecisionTreeRegressor(),RandomForestRegressor(),trained good well

In [32]:
#this time i give unseen data and predict values
for k in models:
    call=k
    call.fit(X_train,y_train)
    pred=call.predict(X_test)
    mse=mean_squared_error(pred,y_test)
    mae=mean_absolute_error(pred,y_test)
    r2score=r2_score(pred,y_test)
    print(k,":")
    print("MSE:",mse)
    print()
    print("MAE:",mae)
    print()
    print("r2_score:",r2score)
    print()
    print()

DecisionTreeRegressor() :
MSE: 152830718.04359123

MAE: 5855.336619141156

r2_score: 0.4823459552004292


SVR() :
MSE: 319133915.8772042

MAE: 11260.622921929764

r2_score: -3093.420683889705


LinearRegression() :
MSE: 1535037015.9200368

MAE: 13353.558959020344

r2_score: -0.0014980065663585673


Ridge() :
MSE: 1535037055.241749

MAE: 13353.559039171761

r2_score: -0.0014980650940354945


Lasso() :
MSE: 1535038619.0609183

MAE: 13353.572392533239

r2_score: -0.0015000769093016508


RandomForestRegressor() :
MSE: 100461507.78075658

MAE: 4908.331054966545

r2_score: 0.5892233975100392

In [ ]:
#RandomForestRegressor() is trained well compare to DecisionTreeRegressor()

In [33]:
# i improving pridiction as well so i used RandomForestRegressor() in k fold cross validation

from sklearn.model_selection import KFold, cross_val_score
# Define the number of folds for cross-validation
k_folds = 10

# Initialize the cross-validation splitter
kf = KFold(n_splits=k_folds, shuffle=True, random_state=42)

# Define scoring functions
scoring_functions = ['r2', 'neg_mean_squared_error', 'neg_mean_absolute_error']

# Perform k-fold cross-validation for each scoring function
for scoring in scoring_functions:
    cv_results = cross_val_score(RandomForestRegressor(), X, y, cv=kf, scoring=scoring)
    # Print the cross-validation results
    print(scoring+" : ")
    print("Cross-validation {} scores:".format(scoring), cv_results)
    print()
    print("Mean {} score:".format(scoring), cv_results.mean())
    print()
    print("Standard deviation of {} scores:".format(scoring), cv_results.std())
    print()
    print()
    print()

r2 :
Cross-validation r2 scores: [ 3.09449344e-01  7.08779985e-01  7.97551715e-01  7.28824223e-01
  8.15282637e-01 -2.81758007e-04 -1.03053724e+01 -4.33429029e+02
  7.86268433e-01 -1.07760831e+02]

Mean r2 score: -54.734935784176834

Standard deviation of r2 scores: 130.23948602768522



neg_mean_squared_error :
Cross-validation neg_mean_squared_error scores: [-8.94939791e+07 -8.57142852e+07 -9.89944770e+07 -9.34072238e+07
 -6.80911590e+08 -3.59567236e+11 -8.22785714e+09 -1.43612723e+11
 -8.07920010e+07 -2.64776109e+10]

Mean neg_mean_squared_error score: -53901473982.47678

Standard deviation of neg_mean_squared_error scores: 110285442199.32173



neg_mean_absolute_error :
Cross-validation neg_mean_absolute_error scores: [ -4910.0487579   -4826.80127824  -4752.99272545  -5130.93893333
  -5377.13972436 -18587.24063239  -6653.08343305 -16696.81750936
  -4611.91407744  -8937.7451621 ]

Mean neg_mean_absolute_error score: -8048.472223362462

Standard deviation of neg_mean_absolute_error scores: 4971.362311859529

In [36]:
# this time using DecisionTreeRegressor()

from sklearn.model_selection import KFold, cross_val_score
# Define the number of folds for cross-validation
k_folds = 10

# Initialize the cross-validation splitter
kf = KFold(n_splits=k_folds, shuffle=True, random_state=42)

# Define scoring functions
scoring_functions = ['r2', 'neg_mean_squared_error', 'neg_mean_absolute_error']

# Perform k-fold cross-validation for each scoring function
for scoring in scoring_functions:
    cv_results = cross_val_score(DecisionTreeRegressor(), X, y, cv=kf, scoring=scoring)
    # Print the cross-validation results
    print(scoring+" : ")
    print("Cross-validation {} scores:".format(scoring), cv_results)
    print()
    print("Mean {} score:".format(scoring), cv_results.mean())
    print()
    print("Standard deviation of {} scores:".format(scoring), cv_results.std())
    print()
    print()
    print()

r2 :
Cross-validation r2 scores: [ 4.50444629e-01  5.93405257e-01  7.20775627e-01  6.10527269e-01
  7.66612499e-01 -4.18738583e-04  5.96690910e-01 -1.34000409e+03
  5.99275261e-01  6.13153598e-01]

Mean r2 score: -133.5053626183703

Standard deviation of r2 scores: 402.1662934084732



neg_mean_squared_error :
Cross-validation neg_mean_squared_error scores: [-1.88863135e+08 -1.15885846e+08 -3.05853659e+08 -1.34957425e+08
 -2.01939255e+08 -3.59565222e+11 -1.37879569e+08 -3.59877484e+11
 -1.40877897e+08 -1.16651559e+08]

Mean neg_mean_squared_error score: -72078561460.36214

Standard deviation of neg_mean_squared_error scores: 143821422753.9455



neg_mean_absolute_error :
Cross-validation neg_mean_absolute_error scores: [ -5673.54270111  -5482.34940062  -5698.20224418  -5903.60366459
  -6262.22371794 -19312.3282279   -5748.17790992 -19172.12648678
  -5508.22118382  -5677.17267219]

Mean neg_mean_absolute_error score: -8443.794820905328

Standard deviation of neg_mean_absolute_error scores: 5403.284352549484